<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para Internet -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- Otras actividades -->
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".RegisterActivity" android:exported="true" />
        <activity android:name=".ForgotPasswordActivity" android:exported="true" />
        <activity android:name=".MenuPrincipalActivity" android:exported="true" />
        <activity android:name=".PerfilUsuarioActivity" />
        <activity android:name=".ActualizarUsuarioActivity" />
        <activity android:name=".VocacionActivity" />
        <activity android:name=".UniversidadesActivity" />
        <activity android:name=".CostosActivity" />
        <activity android:name=".VocacionPreguntasActivity" />
        <activity android:name=".VocacionPregunta2Activity" />
        <activity android:name=".VocacionPregunta3Activity" />
        <activity android:name=".VocacionPregunta4Activity" />
        <activity android:name=".VocacionPregunta5Activity" />
        <activity android:name=".VocacionPregunta6Activity" />
        <activity android:name=".VocacionPregunta7Activity" />
        <activity android:name=".VocacionPregunta8Activity" />
        <activity android:name=".VocacionPregunta9Activity" />
        <activity android:name=".VocacionPregunta10Activity" />
        <activity android:name=".ResultadoVocacionalActivity" />
        <activity android:name=".ContinuaVocacionalActivity" />
        <activity android:name=".UniversidadesPregunta1Activity" />
        <activity android:name=".UniversidadesPregunta2Activity" />
        <activity android:name=".UniversidadesPregunta3Activity" />
        <activity android:name=".UniversidadesPregunta4Activity" />
        <activity android:name=".ResultadoUniversidadActivity" />
        <activity android:name=".ContinuaUniversidadesActivity" />
        <activity android:name=".CostosPregunta1Activity" />
        <activity android:name=".CostosPregunta2Activity" />
        <activity android:name=".CostosPregunta3Activity" />
        <activity android:name=".CostosPregunta4Activity" />
        <activity android:name=".CostosPregunta5Activity" />
        <activity android:name=".CostosPregunta6Activity" />
        <activity android:name=".ResultadoCostoActivity" />
        <activity android:name=".ContinuaCostosActivity" />
        <activity android:name=".TuProgresoActivity" />
        <activity android:name=".MetricasTuProgresoActivity" />
        <activity android:name=".TuProgresoVocacionAnimalesActivity" />
        <activity android:name=".TuProgresoVocacionDisenoActivity" />
        <activity android:name=".TuProgresoVocacionFinanzasActivity" />
        <activity android:name=".AgendamientoActivity" />
        <activity android:name=".AgendamientoAgendarActivity" />
        <activity android:name=".AgendamientoMisCitasActivity" />
        <activity android:name=".AgendamientoCancelarCitasActivity" />
        <activity android:name=".ResultadoVocacionCostosActivity" />














        <!-- ✅ LoginActivity como pantalla principal -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
